*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

input{
    font-size: 1.2rem;
    width: 60%;
}

#list-wrapper{
    
    background-color: antiquewhite;
}
#list-wrapper li{
    list-style-type: none;
    font-size: 2rem;
}
#list-wrapper i{
    font-size: 1.3rem;
    
}

#list-wrapper i:hover{
    cursor: pointer;
    color: red;
}

.my_btn{
    border-color: transparent;
    border-radius:10px;
    background-color: rgb(241, 200, 145);
    padding: 5px;
}

.linethrough{
    text-decoration: line-through;
}